# Stage4

---

## 함께실습$1

In [1]:
import pandas as pd

df = pd.read_csv('data/korean_players.csv')
df

    이름  적합사이즈  나이  출장수    키  몸무게
0  조현우    275  27   12  189   75
1  김영권    285  29   69  186   81
2  김민재    290  22   19  190   88
3  이청용    265  30   89  180   70
4  손흥민    260  26   79  183   77
5  이재성    275  26   43  180   70
6  백승호    280  22    0  180   68
7  이강인    270  18    0  173   63
8  이승우    260  21   10  170   63
9  황의조    275  26   25  184   73

## 함께실습$2

In [2]:
df.describe()

            적합사이즈         나이        출장수           키        몸무게
count   10.000000  10.000000  10.000000   10.000000  10.000000
mean   273.500000  24.700000  34.600000  181.500000  72.800000
std     10.013879   3.802046  33.383962    6.398785   7.828722
min    260.000000  18.000000   0.000000  170.000000  63.000000
25%    266.250000  22.000000  10.500000  180.000000  68.500000
50%    275.000000  26.000000  22.000000  181.500000  71.500000
75%    278.750000  26.750000  62.500000  185.500000  76.500000
max    290.000000  30.000000  89.000000  190.000000  88.000000

## 함께실습$3

In [3]:
x_train = df[['나이', '출장수', '키', '몸무게']]
y_train = df['적합사이즈']

In [4]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression().fit(x_train, y_train)

print('training set accuracy:', lr.score(x_train, y_train))
# 여기서 accuracy는 어떻게 집계 되었을까요? => 상관성을 이용한 결정계수로 부터.

training set accuracy: 0.6550739388896683

## 자율$1

In [5]:
df_test = pd.read_csv('data/test_players.csv')
df_test

    이름  나이  출장수    키  몸무게
0  황인범  22   14  177   67
1  김신욱  31   51  196   93

In [6]:
x_test = df_test[['나이', '출장수', '키', '몸무게']]

prediction = lr.predict(x_test)
prediction

array([270.2212304 , 295.31336894])

## 자율$2

In [7]:
target_index = 0
name = df_test.loc[target_index, '이름']
predict = prediction[target_index]

print(name + ' 회원님은 ' + str(predict) + ' 사이즈가 가장 잘 맞습니다.')

황인범 회원님은 270.22123040228456 사이즈가 가장 잘 맞습니다.